# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ecommerce
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# JWT Configuration
JWT_SECRET=your-secret-key-change-me-in-production

# Google OAuth Configuration
GOOGLE_CLIENT_ID=353360779060-8aam1jcpvuhfva1eg5ark5mn3t6876o1.apps.googleusercontent.com

# Application Configuration
APP_URL=http://localhost:8080
